.mision
	background-color: $white
	height: auto
	h5			
		margin: 50px 10px 

	.featurelist
		padding: 0
		margin: 0				
		overflow: visible

		//margin-top: 1.5em
		
		
		li
			height: 0			
			min-height: 16em
			overflow: hidden
			background-color: white


			@media (min-width: $bp-m)
				width: grid-calc(1, 2)
				float: left
				padding-bottom: 0px
				text-align: center

			

			img
				height: 150px	


/* .mision
	clear: both	
	height: 80vh
	margin: 0px
	padding: 0px
	clear: both
	background-color: $white
	h2			
		margin: 1.5em
		display: inline-block			
		//font-size: 32px
		//border-bottom: 2px solid $gray
		text-align: left



	.about-text				

		width: 45%
		float: left
		text-align: justify
		//background: red

		
		// h2			
		// 	margin: 1.5em
		// 	display: inline-block			
		// 	font-size: 32px
		// 	border-bottom: 2px solid $gray

		p				
			padding: 2.5em 0px 0px 2.5em
			text-align: justify			
		
		
	.about-hero
		position: relative				
		width: 55%
		height: 80vh
		
		float: right
		background: $white

		
		

		// background:
		// 	image: url(../img/background/BG-1.jpg)
		// 	repeat: no-repeat
		// 	size: cover
		// 	position: top center


	.featurelist
		padding: 0
		margin: 0				
		overflow: visible

		//margin-top: 1.5em
		


		
		li
			height: 0			
			min-height: 16em
			overflow: hidden
			background-color: white


			@media (min-width: $bp-m)
				width: grid-calc(1, 2)
				float: left
				padding-bottom: 0px
				text-align: center

			

			img
				height: 150px	

		
		h4
			margin: 0px
			padding-top: 0px
			text-align: center
			
			
		

		
		
		
		
	

	
			 */