.mision
	clear: both	
	height: 70vh
	margin: 0px
	padding: 0px
	clear: both
	background-color: $silver

	.about-text				

		width: 50%
		float: left
		//background: red

		
		h2			
			margin: 1.5em
			display: inline-block			
			font-size: 32px
			border-bottom: 2px solid $gray

		p				
			padding: 2.5em 0px 0px 2.5em
		
		
		



	.about-hero
		position: relative				
		width: 50%
		height: 70vh
		
		float: right
		background: pink
		

		background:
			image: url(../img/background/BG-1.jpg)
			repeat: no-repeat
			size: cover
			position: top center


		
		h3
			padding-top: 100px
			text-align: center
			//width: 100%
			//height: 100vh
			
			//height: auto
			//idth: auto			
			
		

		
		
		
		// @media (min-width: $bp-m)
		// 	width: grid-calc(1, 2)
		// 	float: right
		// 	padding-bottom: 63%
		// 	background-size: auto 100%
		
		// @media (min-width: 960px)
		// 	padding-bottom: 50%
		// @media (min-width: 1200px)
		// 	padding-bottom: 38%

	

	
			