<footer>
	<div class="container-fluid">
	
	<div class="row">
	  <div class="col-md-4"></div>
	  <div class="col-md-5 offset-md-4">
	  <h6>Contact:</h6>

		<strong>Équipe de Recherche sur les Processus Innovatifs</strong>
		<!-- <p class="lead">Équipe de Recherche sur les Processus Innovatifs</p> -->
			<p>
			 	8, rue Bastien Lepage <br>
				54 000 Nancy <br>
				France <br>
				<a href="mailto:contact@erpi.univ-lorraine.fr">contact@erpi.univ-lorraine.fr<a/>
			</p>
	  </div>
	</div>         

	</div>
	

</footer>