<footer>
  
	<div class="lockup" id="contact">

		  <div class="content-wrap">
			<nav>
			{% for item in site.data.settings.menu %}
			<a href="{{ item.url }}">{{ item.name }}</a>
			{% endfor %}
			</nav>

			<p class="copyrigth">Powered by Université de Lorraine &amp ERPI</p>

		 </div>
	


	<div class="contact">
		 <strong>Équipe de Recherche sur les Processus Innovatifs</strong>
		 <p>8, rue Bastien Lepage <br>
			54 000 Nancy <br>
			France <br>
			<a href="mailto:contact@erpi.univ-lorraine.fr">contact@erpi.univ-lorraine.fr<a/>
			</p>


	</div>

	</div> 
  
</footer>