<section class="mision" id="innovation">

	<div class="about-text">


		<h2> Why Innovation is important ? </h2>

		<p> or maybe to tell who this site is intended for ? </p>

	</div>


	<div class="about-hero">
		
		<!-- <h2>Innovation Network</h2> -->

		<ul class="featurelist">			
			{% for feature in site.data.features %}
				<li>
				<a href="{{feature.link}}">
					<img src="{{feature.image}}">					
				</a>
				</li>
			{% endfor %}
		
		</ul>

		
	<!-- <img src= "assets/img/background/BG-1.jpg"> -->
	</div>


</section>