<section class="mision" id="innovation">

	<div class="about-text">


		<h2> Innovation on the web, Qu’est-ce donc ? </h2>

		<p>Ce site est né de la volonté d’un ensemble d’acteurs de l’innovation de proposer un portail d’accès à des ressources fiables, robustes et à jour pour développer l’innovation en entreprise. <br>

		L’innovation est une science étudiée par les chercheurs depuis plus de 25 ans ! Les travaux de recherche académique, les enseignements réalisés dans certaines écoles d’ingénieurs et les observations et accompagnements menés sur le terrain permettent aux experts de mieux comprendre les processus d’innovation et d’améliorer leur pilotage. <br>


		A l’heure du crowdsourcing, de l’innovation agile et du travail collaboratif, nous avons souhaité nous associer pour mettre à disposition de tous nos travaux en ingénierie de l’innovation.

		Bienvenue sur Innovation-on-the-web, Bonne visite !

		</p>

	</div>


	<div class="about-hero">
		
		<h2>Un ensemble d'acteurs au service du partage de la connaisance en Innovation</h2>

		<ul class="featurelist">


			{% for feature in site.data.features %}
				<li>
				<a href="{{feature.link}}">
					<img src="{{feature.image}}">					
				</a>
				<h4>{{feature.text}}</h4>
				</li>
			{% endfor %}
		
		</ul>

		
	<!-- <img src= "assets/img/background/BG-1.jpg"> -->
	</div>


</section>