
<div class="container-fluid mision">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-6">
			<h5> Un portail inédit...</h5>

			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
		  				<h6 class="display-3">Objectif</h6>
		  				<hr class="my-4">
						<p class="lead text-justify">
						Vous proposer un portail d’accès à des ressources éprouvées pour développer l’innovation dans  les entreprises, les institutions et les territoires.
						</p>
					</div>					
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron" >
		  				<h6 class="display-3">Vision</h6>
		  				<hr class="my-4">
						<p class="lead text-justify">
						L’innovation est une science étudiée depuis plus de 25 ans ! <br>
						Recherche académique, enseignements, observations et accompagnements terrain permettent  de comprendre  les processus d’innovation et d’améliorer leur pilotage.
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="jumbotron">
		  				<h6 class="display-3">Moyen</h6>
		  				<hr class="my-4">
						<p class="lead text-justify">
						A l’heure du crowdsourcing, de l’innovation agile et du travail collaboratif, ce portail permet de partager nos travaux en ingénierie de l’innovation.
						</p>				  
					</div>
				</div>
			</div>			
		</div>
  		

  		<div class=" col-xs-12 col-sm-12 col-md-6">
  		
  			<h5>... issue d'une collaboration originale</h5>

			
			<div class="row" style="padding-top: 5%;">

			
		 
			{% for feature in site.data.features %}
				
				

				<div class="col-xs-5 col-sm-5 col-md-5">
					
					<p class="lead text-center" style="margin-bottom: 0px; margin-top: 30px"> <b>{{feature.text}}</b></p>

					<a  target="_blank" href="{{feature.link}}">
						<img src="{{feature.image}}" class="img-responsive" style="max-height: 120px; margin: 0 auto;">					
					</a>
					
						
				</div>




		    {% endfor %}
		     
		    
		</div>


			<!-- <ul class="featurelist">

				{% for feature in site.data.features %}
					<li>
					<a href="{{feature.link}}">
						<img src="{{feature.image}}">					
					</a>
					<p class="lead">{{feature.text}}</p>
					
					</li>
				{% endfor %}
			
			</ul>	
 -->
  		</div>
	</div>
</div>




