
<div class="background">
	
<section class="title">

	<div class="container-fluid">
			
		<!-- Titulo -->
		<div class="row">
			<div class="col-lg-12">
				<div class="hero-center">
					<h1><span>Innovation on the Web</span></h1>
					<h5>Portail de ressources pour innover</h5>				
				</div>			
			</div>	
		</div>
		
		<!-- Banda de Imagenes -->
		<div class="row banda">
			<div class="col-md-3"></div>
			<div class="col-md-7">
				<img src="{{ site.baseurl }}/assets/img/innovation-network/Banda-Logos.png" class="img-responsive" alt="Cinque Terre">
			</div>
		</div>

	</div>
</section>

<section class="info">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
							
				<div class="col more-info">
					<h6> En savoir plus <span class="arrow"></span></h6>
				</div>	
				
			</div>
		</div>
	</div>
</section>

</div>


<!-- <section class="title" id="about">
	<div class="hero">
		<div class="inner">
		<div class="hero-center">
			<div class="hero-heart">
				<h1 class="hero-title"> <span>Innovation on the Web</span></h1>  
			</div>
			<h1 class="hero-subtitle">Portail de ressources pour innover</h1>
			</div>

		<p> En savoir plus <span class="arrow"></span></p>

		</div>
	</div>
</section>
 -->