<section class="section-work">
	<div class="container" >

		<div class="row">
	 		<div class="col-xs-12 col-sm-12 col-md-12 text-center"><h4>Nos savoir-faire</h4></div>  		
		</div>


		<div class="row">
		 
			{% for project in site.data.settings.savoir %}

				<div class="col-xs-12 col-sm-6 col-md-3">
					<!-- <a href="{{project.link}}"> -->
						<div class="box">

							<p class="text-uppercase text-center lead"> {{ project.name }}</p>

							<!-- <strong> {{ project.name }}</strong> -->
							<a  target="_blank" href="{{project.link}}">
							<div class="overlay">
								<p> {{ project.description }}</p>
							</div>														
							</a>
						</div> 
					<!-- </a> -->
				</div>

		    {% endfor %}
		     
		</div>


	

	<br>

	<div class="row">
	 		<div class="col-xs-12 col-sm-12 col-md-12 text-center"><h4>Rejoignez-nous</h4></div>  
	 		
	</div>
	

	<div class="row">
		 
			{% for project in site.data.settings.projects %}

				<div class="col-xs-12 col-sm-6 col-md-3">
					<!-- <a href="{{project.link}}"> -->
						<div class="box">

							<p class="text-uppercase text-center lead"> {{ project.name }}</p>

							<!-- <strong> {{ project.name }}</strong> -->
							<a  target="_blank" href="{{project.link}}">
							<div class="overlay">
								<p> {{ project.description }}</p>
							</div>														
							</a>
						</div> 
					<!-- </a> -->
				</div>

		    {% endfor %}
		     
		</div>


	<br>
	<br>



	</div>
</section>

